[Unit]
Description=Ethtool ConfigrationforNetwork Interface
After=network.target

[Service]
Requires=network.target
Type=oneshot
ExecStart=/sbin/ethtool -K eth0 gro off
ExecStart=/sbin/ethtool -K eth0 lro off

[Install]
WantedBy=multi-user.target